
.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

#main-display {
  margin-top: 10px;
}

.variables-display input {
  width: 60px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

.variables-display select {
  width: 50px;
  height: 30px;
  padding: 0px;
  margin-left: 5px;
  padding-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/**
 *Donde se muestran las tablas.
 **/
#display div {
  padding: 10px;
}

#display .table {
  width: 500px;
  margin: auto;
}

/** Último renglón **/
#display .table tbody tr:last-child {
  border-top: 2px solid black;
}

/** Última columna **/
#display .table tbody tr td:last-child {
  border-left: 2px solid black;
}

/** Pivote **/
#display .table tbody .pivote {
  background-color: #f5cece;
}

/** z **/
#display .table tbody tr:last-child td:last-child {
  font-weight: bold;
}

/** Variables **/
#display .variables li {
  display: inline-block;
  list-style-type: none;
  padding: 10px;
}